html,
body {
    margin-left: 30px;
    font-family: "Source Sans Pro", sans-serif;
    text-rendering: optimizeLegibility;
    color: #222;
    /* overflow-x: hidden; */
}
::selection {
    background: #9c0404; /* WebKit/Blink Browsers */
  }
main {
    margin-left: 63px;
}
@media (max-width: 797px) {
    body {
      margin-left: -10px !important;
      padding-right: 20px !important;
      transform: scale(0.28);
      transform-origin: 0 0;
    }
    .temp {
        padding-left: 50vh !important;
        margin-top: -60vh !important;
        font-size: 200px !important;
        font-weight: 900;
        letter-spacing: -0.07em;
        color: #000000c7;
    }
    p {
        font-size: 50px !important;
        width: 110vh !important;
        letter-spacing: 0.5px;
        text-align: justify;
    }
    .quote {
      padding-left: 230px !important;
    }
    h2.heading {
    font-size: 70px !important;
    width: 110vh !important;
    }
    kbd {
      font-size: 50px !important;
    }
    header h1 {
        font-size: 140px !important;
        font-weight: 900;
        letter-spacing: 0.12em;
        width: 500% !important;
        margin-top: 80px !important;
        margin-bottom: 80px !important;
        margin-left: -10px !important;
    }
    header h2 {
        font-size: 50px !important;
        font-weight: 900;
        letter-spacing: 0.15em;
        margin-top: 100px !important;
    }
    header h3 {
        margin-top: 50px !important;
        font-size: 55px !important;
        width: 100%;
        text-decoration: underline !important;
    }
    header .title a {
        margin-top: 6px;
        margin-bottom: 50px !important;
        font-size: 60px !important;
    }
    .san-francisco {
        display: none;
    }
    .mouse_scroll {
        display: none !important;
    }
    .rellax {
      margin-top: 200px !important;
    }
}
.rellax {
  margin-bottom: -300px;
}
h4 {
  font-size: 22px;
  margin-bottom: 28px;
}
p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
  width: 175%;
  letter-spacing: 0.5px;
  line-height: 1.4;
}
a,
a:active {
  text-decoration: none;
  color: #000000c7;
}

header h2 {
  font-size: 15px;
  font-weight: 900;
  letter-spacing: 0.15em;
  margin-top: 70px;
}
header a h2 {
  color: #222;
}
header a h2 span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
header a:hover h2 span {
  color: #fff;
  margin-left: 10px;
}
header .white-block {
  margin-top: 20px;
  width: 46px;
  height: 6px;
  background: #fff;
}

header .title {
  margin-top: 80px;
}
header h1 {
  font-size: 96px;
  font-weight: 900;
  letter-spacing: 0.05em;
  line-height: 0.8;
  width: 150%;
  margin-left: -6px;
  margin-bottom: 40px;
}
header h1 span {
  display: inline-block;
  font-size: 20px;
  margin-top: 18px;
  vertical-align: top;
  letter-spacing: 0;
}
header .title a {
  display: inline-block;
  margin-top: 180px;
  margin-right: -120px;
  border: 2px solid black;
  background: rgb(255, 255, 255);
  padding: 26px 80px;
  color: rgb(0, 0, 0);
  border-radius: 12px;
  font-size: 26px;
  letter-spacing: 0.2em;
  transition: all 300ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
header .title a:hover {
  margin-top: 186px;
  margin-right: -130px;
  padding: 20px 90px;
}
header h3 {
  margin-top: 40px;
  font-size: 21px;
  width: 50%;
}

header h3 a:hover {
    color: black;
}

/*----------------------------------
  Background Grid
------------------------------------*/

.grid {
  position: fixed;
  width: 100%;
}
.grid-line {
  height: 100vh;
  border-left: 1px solid #ccc;
}

/* .fixed-top {
  position: absolute;
  width: 600px;
  height: 600px;
  background: #9c0404a4;
  border-radius: 12px;
  z-index: -1;
  margin-top: -220px;
  margin-left: 100px;
} */

.unhrc {
  position: absolute;
  opacity: 0.5;
  width: 500px;
  height: 500px;
  background: url(../img/UNHRC_logo.png);
  background-size: contain;
  z-index: -1;
}

.coe {
  position: absolute;
  opacity: 0.5;
  width: 700px;
  height: 600px;
  background: url(../img/concertofeurope_logo.png);
  background-size: cover;
  z-index: -1;
  margin-left: -100px;
  margin-top: -20px;
}

.unsc {
  position: absolute;
  opacity: 0.5;
  width: 560px;
  height: 470px;
  background: url(../img/UNSC_logo.png);
  background-size: cover;
  z-index: -1;
  margin-top: 30px;
}

.wha {
  position: absolute;
  opacity: 0.5;
  width: 500px;
  height: 500px;
  background: url(../img/WHA_logo.png);
  background-size: cover;
  z-index: -1;
}

.dr {
  position: absolute;
  opacity: 0.5;
  width: 500px;
  height: 500px;
  background: url(../img/dewanrakyat_logo.png);
  background-size: cover;
  z-index: -1;
  margin-top: -10px;
}

.yalta {
  position: absolute;
  opacity: 0.5;
  width: 600px;
  height: 550px;
  background: url(../img/YALTA_Logo.png);
  background-size: cover;
  z-index: -1;
  margin-top: -30px;
  margin-left: -10px;
}

/*----------------------------------
  Main
------------------------------------*/

/* .main {
  /* overflow: hidden; */

.section {
  position: relative;
  z-index: 1;
}

.absolute {
  position: absolute;
  width: 100%;
  height: auto;
  margin-top: 60px;
}
.absolute.above {
  z-index: 2;
}
.absolute h2 {
    margin-top: -80px;
    font-size: 140px;
    font-weight: 900;
    letter-spacing: -0.04em;
    color: #f0f0f0;
    width: 150%;
    z-index: -1;
}
.lg-green {
  width: 160px;
  height: 160px;
  background: #9c0404cb;
  border-radius: 12px;
  margin-left: -80px;
  margin-top: 200px;
}
.sm-green {
  width: 60px;
  height: 60px;
  background: #9c0404cb;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.sm-purple {
  width: 60px;
  height: 60px;
  background: #000000c7;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.xs-green {
  width: 60px;
  height: 60px;
  background: #9c0404cb;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 400px;
}
.md-green {
  width: 120px;
  height: 120px;
  background: #9c0404cb;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 10px;
}
.lg-purple {
  width: 80px;
  height: 80px;
  background: #000000c7;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 60px;
}
.coordinates {
  font-size: 35px !important;
}
kbd {
  font-size: 30px;
}
.date {
  margin-top: 360px;
  font-size: 45px;
  font-weight: 600;
  color: #000000c7;
}
.temp {
    padding-left: 250px;
    margin-top: 200px;
    font-size: 280px;
    font-weight: 900;
    letter-spacing: -0.07em;
    color: #000000c7;
}

.text-editor {
  background: #222;
  padding: 60px 50px;
  border-radius: 12px;
}
code {
  text-align: left;
  padding: 0;
  font-size: 22px;
  background: none;
  border-radius: 0;
  color: #9c0404cb;
}

.md-facebook {
  width: 60px;
  height: 60px;
  background: #000000c7;
  border-radius: 12px;
  margin-left: 68px;
  margin-top: 600px;
}
.md-twitter {
  width: 120px;
  height: 120px;
  background: #9c0404cb;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 60px;
}
.md-dixonandmoe {
  width: 120px;
  height: 120px;
  background: #000000c7;
  border-radius: 12px;
  margin-left: -60px;
  margin-top: 760px;
}
.bt-green {
  width: 60px;
  height: 60px;
  background: #9c0404cb;
  border-radius: 12px;
  margin-left: -30px;
  margin-top: 700px;
}
.bt-purple {
  width: 80px;
  height: 80px;
  background: #000000c7;
  border-radius: 12px;
  margin-left: 57px;
  margin-top: 600px;
}

.share {
  position: relative;
  top: 200px;
}
.share a {
  font-size: 34px;
}
.share a span {
  transition: all 400ms cubic-bezier(0.68, -0.1, 0.265, 1.55);
}
.share a:hover span {
  margin-left: 10px;
}

a.dam,
a.dam:hover,
a.dam:active,
a.dam:visited {
  color: #222;
}

span.comment {
  color: rgba(255, 255, 255, 0.4);
}
span.purple {
  color: #000000c7;
}
span.green {
  color: #a0f100;
}
span.white {
  color: #fff;
}
span.orange {
  color: orange;
}

/* -------------------------------------------------------------------------- */
/* =====================options-menu and documentation======================= */
/* -------------------------------------------------------------------------- */
h2.heading {
  font-size: 40px;
  width: 150%;
  line-height: 1.3;
}
h3.heading {
  font-size: 27px;
  font-weight: bolder;
}

.documentation {
  margin-top: -50px;
}
.options {
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: white;
  width: 90%;
  padding: 2.5rem;
  margin-top: 4rem;
  height: auto;
}
.options a {
  display: block;
}
.options-text {
  font-size: medium;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  margin: 1rem 0;
}
.options-text--margin {
  margin-top: 3rem;
}
.options-title {
  font-size: 24px;
  padding: 1rem 0;
  color: #222;
}
.sticky {
  position: sticky;
  top: 0;
  z-index: 4;
}
/* Style the active class (and buttons on mouse-over) */
.active {
  color: #000000c7;
}
.option:hover {
  color: #9c0404cb;
}
html {
  scroll-behavior: smooth;
}

@keyframes fuzz /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    /*-webkit-transform: scaleY(1);*/
    opacity: 1;
  }
}

@keyframes fuzz2 /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  48% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fuzz3 /* Safari and Chrome */ {
  0% {
    opacity: 0;
  }
  54% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes stretch /* Safari and Chrome */ {
  0% {
    -webkit-transform: scaleX(0);
    opacity: 0;
  }
  50% {
    -webkit-transform: scaleX(0);
    opacity: 1;
  }
  60% {
    -webkit-transform: scaleX(0);
  }
  100% {
    -webkit-transform: scaleX(1);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
  }
  30% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/*----------------------------------
  Medium devices: iPad vertical
------------------------------------*/

@media (max-width: 991px) {
}

/*----------------------------------
  Small devices: iPhone 6+ and below
------------------------------------*/

@media (max-width: 767px) {
  .sticky {
    display: none;
  }
}

/*----------------------------------
  iPhone 6 & 6+ specific text bump
------------------------------------*/

@media (max-width: 991px) and (max-height: 736px) and (min-height: 481px) {
  .sticky {
    display: none;
  }
  p {
    text-align: justify;
  }
}


.mouse_scroll {
	display: block;
	margin: 0 auto;
	width: 24px;
  height: 100px;
  padding-top: 30px;
  z-index: 1;
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid #9c0404;
  border-bottom: 2px solid #9c0404;
  margin: 0 0 3px 4px;
  
  width: 16px;
  height: 16px;
}


.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
  height: 42px;
  width: 24px;
  border-radius: 14px;
  transform: none;
  border: 2px solid #9c0404;
  top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: #9c0404;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #9c0404;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

@-webkit-keyframes mouse-wheel{
   0% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    -webkit-transform: translateY(6px);
    -ms-transform: translateY(6px);
    transform: translateY(6px);
  }
}
@-moz-keyframes mouse-wheel {
  0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@-o-keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}
@keyframes mouse-wheel {

   0% { top: 1px; }
  25% { top: 2px; }
  50% { top: 3px;}
  75% { top: 2px;}
  100% { top: 1px;}
}

@-webkit-keyframes mouse-scroll {

  0%   { opacity: 0;}
  50%  { opacity: .5;}
  100% { opacity: 1;}
}
@-moz-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@-o-keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
@keyframes mouse-scroll {

  0%   { opacity: 0; }
  50%  { opacity: .5; }
  100% { opacity: 1; }
}
