{% extends 'layout.html' %}

{% block title %}About — TLMUN{% endblock %}
{% block head %}
	<meta name="description" content="Taylor’s Lakeside Model United Nations 2021 International’s theme for this year, Renascitur, is the Latin word for ‘Reborn’. It symbolizes our effort to redefine ourselves in this new world and be reborn from the ashes of the old, with our council topics carefully curated to reflect that effort.">
{% endblock %}
{% block content %}
<!-- Start Header Area -->
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-red.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('councils') }}">Councils</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('resources') }}">Resources</a></li>
          <li><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="about-content text-align-left">
                   <h1 class="text-center">Welcome to TLMUN!</h1>
                   <img src="{{ url_for('static', filename='img/modelun.jpg') }}">
                   <div class="about-letter hover-word">
                        <p>
                            The world has been blighted by the largest threat to the free world and the global economy of the 21st century. It was not an enormous weapon of mass destruction that many had anticipated, but a catastrophic and lethal virus that wrought a death toll unprecedented ever since the wake of this century. Yet in its wake, the world did not falter, but instead brought about incredible change through their adaptability, courage and perseverance to establish a new normal.
                            <br><br>
                            <a><strong>Taylor’s Lakeside Model United Nations 2021 International</strong></a>’s theme for this year, <a><strong>Renascitur</strong></a>, is the Latin word for ‘Reborn’. It symbolizes our effort to redefine ourselves in this new world and be reborn from the ashes of the old, with our council topics carefully curated to reflect that effort. Through the spirit of Model United Nations, our purpose is to give you a platform to envision your change through the eyes of world leaders using diplomacy, wit and intellect. We remain steadfast and resilient, prepared to continue the work of our predecessors in our own respective countries and the world at large.
                            <br><br>
                            Join us over an exciting and educational weekend of debates and resolution writing through a variety of councils following standard HMUN Rules of Procedure. Whether you are someone who has never participated in Model United Nations before or a seasoned veteran in the scene looking for a challenge, we have something for everyone to enjoy. 
                            <br><br>
                            So what are you waiting for? Register now to secure your place in one of the most anticipated Model United Nations conferences of the year!
                        </p>
				    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!-- ======= Intro Section ======= -->
<section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0" style="float: left;">Previously on:<br><span>TLMUN</span> 2019</h1>
      <!-- <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p> -->
      <a href="https://www.youtube.com/watch?v=NJSAj69NM0s" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="false"></a>
    </div>
</section>
<!-- End Intro Section -->

<section class="projects-section bg-light" id="projects">
    <h1 class="text-center mb-5">What can you expect from Model United Nations?</h1>
    <div class="container">
        <!-- Featured Project Row-->
        <div class="row align-items-center no-gutters" style="margin-bottom: 80px !important;">
            <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static', filename='img/whytlmun.jpeg') }}" alt="" /></div>
            <div class="col-xl-4 col-lg-5">
                <div class="featured-text text-center text-lg-left">
                    <h4 class="mb-2">Debates</h4>
                    <p class="text-black-50 mb-0">Immerse yourself in the role of a world leader and engage in high stakes, diplomatic discourse to shape the policies of the world’s nations for the better through a resolution.</p>
                </div>
            </div>
        </div>
        <!-- Project One Row-->
        <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
            <div class="col-lg-6"><img class="img-fluid" src="{{ url_for('static', filename='img/about-3.jpg') }}" alt="" /></div>
            <div class="col-lg-6">
                <div class="bg-grey text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-left">
                            <h4 class="mb-2">Awards</h4>
                            <p class="mb-0 text-white-50 mb-2">Stand out amongst your peers as a shining example of what a world leader should be like, and be awarded for your display with a suitable title to carry with you long after the conference ends.</p>
                            <hr class="d-none d-lg-block mb-0 ml-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Project Two Row-->
        <div class="row justify-content-center no-gutters">
            <div class="col-lg-6"><img class="img-fluid" src="{{ url_for('static', filename='img/about-4.jpg') }}" alt="" /></div>
            <div class="col-lg-6 order-lg-first">
                <div class="bg-grey text-center h-100 project">
                    <div class="d-flex h-100">
                        <div class="project-text w-100 my-auto text-center text-lg-right">
                            <h4 class="mb-2">Networking</h4>
                            <p class="mb-0 text-white-50 mb-2">Interact with other delegates from all walks of life with people of different nationalities, cultures, and experiences coming to participate in the conference, and form bonds with like-minded individuals that could last you a lifetime.                            </p>
                            <hr class="d-none d-lg-block mb-0 mr-0" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="about-btn">
    <a href="{{ url_for('register') }}"><button class="mb-5">Register Now!
        <span class="iconify" data-icon="zmdi-arrow-right" data-inline="false"></span>
    </button></a>
</div>

{% endblock %}