{% extends 'layout.html' %}

{% block title %}About — TLMUN{% endblock %}

{% block content %}
<!-- Start Header Area -->
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('councils') }}">Councils</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('resources') }}">Resources</a></li>
          <li><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li><a href="#{{ url_for('faq') }}">FAQ</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="about-content text-align-left">
                   <h1 class="text-center">Welcome to TLMUN!</h1>
                   <img src="{{ url_for('static', filename='img/modelun.jpg') }}">
                   <div class="about-letter">
					<p>
						<a>Taylor's Model United Nations (TLMUN)</a> is the country’s oldest, largest, and most prestigious collegiate Model United Nations conference. HNMUN was founded in 1954 to promote international dialogue and cooperation through high-level simulations of the United Nations. Today, HNMUN welcomes over 2500 college students each year from dozens of countries to participate in committees in three organs of varying sizes and purposes: the General Assembly, the Economic Social Council and Regional Bodies, and the Specialized Agencies. 
                        <br><br>
                        Held from February 11-14, 2021, HNMUN 2021 will host many innovative and fast-paced committees. HNMUN is entirely staffed by Harvard College students who have been rigorously trained to maintain substantive excellence for all delegates. HNMUN is led by the Secretariat, a devoted group of nine devoted to conference preparation. Outside of committee, HNMUN offers a wide variety of delegate social events so that all attendees have a robust, well-rounded experience. We can’t wait to meet you all!
                        <br><br>
                        While HNMUN has traditionally been held at a hotel in downtown Boston each year, due to the ongoing coronavirus pandemic HNMUN 2021 has decided to move online in order to ensure the safety and wellness of our delegates, Faculty Advisors, and staff. While this will be a first for HNMUN, the Secretariat has been hard at work on developing an online format that aims to be as fulfilling, rigorous, and substantively excellent as our in-person conference.
                        <br><br>
                        HNMUN offers two rounds of registration: Priority (15 May-1 November) and Regular (1 November-1 December). Size permitting, we may open a Late Registration round after the Regular round has closed. For more information about applying to HNMUN, please view our Apply page.
					</p>
				</div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!-- ======= Intro Section ======= -->
<section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0">Previously on:<br><span>TLMUN</span> 2019</h1>
      <!-- <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p> -->
      <a href="https://drive.google.com/file/d/1A2FAi1iSqtgxaJArM5itzWbBye9IpUkX" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a>
    </div>
</section>
<!-- End Intro Section -->

<div class="about-btn">
    <button class="mb-5">Apply Now!
        <span class="iconify" data-icon="zmdi-arrow-right" data-inline="false"></span>
    </button>
</div>

{% endblock %}