{% extends 'layout.html' %}

{% block title %}About — TLMUN{% endblock %}

{% block content %}
<!-- Start Header Area -->
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-red.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="active"><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('councils') }}">Councils</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('resources') }}">Resources</a></li>
          <li><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->
<!-- End Header Area -->

<!-- Start Banner Area -->
<section class="about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="about-content text-align-left">
                   <h1 class="text-center">Welcome to TLMUN!</h1>
                   <img src="{{ url_for('static', filename='img/modelun.jpg') }}">
                   <div class="about-letter">
                        <p>
                            <a>Taylor's Model United Nations (TLMUN)</a> ought to be the choice for you as this year following our theme of Episteme, we seek to ensure your demands of our learning platform is met. During the commencement of TLMUN Secretariat Team, back in the month of February, we conducted a comprehensive statistical surveying, requesting your advice with respect to what you seek for from our conference this year. 
                            <br><br>
                            From this study we gathered a considerable measure of response and guaranteed our Academics Department curated the topics following your needs. With a holistic spectrum of talents, our team as well stemming from a diverse group took in their own background and experience to formulate additional arrangements and choices of topics that will definitely fan the blazes of your interest. 
                            <br><br>
                            Though our schedule may appear of the conventional structure, there is much more than meets the eye as we have many mystery challenges and logistical arrangements in store that will ensure you an exceptional encounter. This event will further stimulate you intellectually and it is an opportunity you would not want to miss! 
                            <br><br>
                            There are additional concealed agendas that anticipates you, what are you waiting for? Register now to discover what’s in store! 
                        </p>
				    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->


<!-- ======= Intro Section ======= -->
<section id="intro">
    <div class="intro-container" data-aos="zoom-in" data-aos-delay="100">
      <h1 class="mb-4 pb-0" style="float: left;">Previously on:<br><span>TLMUN</span> 2019</h1>
      <!-- <p class="mb-4 pb-0">10-12 December, Downtown Conference Center, New York</p> -->
      <a href="https://www.youtube.com/watch?v=NJSAj69NM0s" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="false"></a>
    </div>
</section>
<!-- End Intro Section -->

<section class="projects-section bg-light" id="projects">
  <div class="container">
      <!-- Featured Project Row-->
      <div class="row align-items-center no-gutters" style="margin-bottom: 80px !important;">
          <div class="col-xl-8 col-lg-7"><img class="img-fluid mb-3 mb-lg-0" src="{{ url_for('static', filename='img/whytlmun.jpeg') }}" alt="" /></div>
          <div class="col-xl-4 col-lg-5">
              <div class="featured-text text-center text-lg-left">
                  <h4>Shoreline</h4>
                  <p class="text-black-50 mb-0">Grayscale is open source and MIT licensed. This means you can use it for any project - even commercial projects! Download it, customize it, and publish your website!</p>
              </div>
          </div>
      </div>
      <!-- Project One Row-->
      <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
          <div class="col-lg-6"><img class="img-fluid" src="{{ url_for('static', filename='img/about-3.jpg') }}" alt="" /></div>
          <div class="col-lg-6">
              <div class="bg-grey text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-left">
                          <h4 class="text-white">Misty</h4>
                          <p class="mb-0 text-white-50">An example of where you can put an image of a project, or anything else, along with a description.</p>
                          <hr class="d-none d-lg-block mb-0 ml-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <!-- Project Two Row-->
      <div class="row justify-content-center no-gutters">
          <div class="col-lg-6"><img class="img-fluid" src="{{ url_for('static', filename='img/about-4.jpg') }}" alt="" /></div>
          <div class="col-lg-6 order-lg-first">
              <div class="bg-grey text-center h-100 project">
                  <div class="d-flex h-100">
                      <div class="project-text w-100 my-auto text-center text-lg-right">
                          <h4 class="text-white">Mountains</h4>
                          <p class="mb-0 text-white-50">Another example of a project with its respective description. These sections work well responsively as well, try this theme on a small screen!</p>
                          <hr class="d-none d-lg-block mb-0 mr-0" />
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>

<div class="about-btn">
    <a href="{{ url_for('register') }}"><button class="mb-5">Register Now!
        <span class="iconify" data-icon="zmdi-arrow-right" data-inline="false"></span>
    </button></a>
</div>

{% endblock %}