{% extends 'layout.html' %}

{% block title %}Councils — TLMUN{% endblock %}
{% block head %}
	<meta name="description" content="Being the fourth iteration of its kind, TLMUN 2021 International offers various committees embedded with unique agendas, from bodies of the United Nations to historical conferences.">
{% endblock %}
{% block content %}
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-white.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="white-nav"><a href="{{ url_for('about') }}">About</a></li>
          <li class="active white-nav"><a href="{{ url_for('councils') }}" style="color: white;">Councils</a></li>
          <li class="white-nav"><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li class="white-nav"><a href="{{ url_for('resources') }}">Resources</a></li>
          <li class="white-nav"><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li class="white-nav"><a href="{{ url_for('register') }}">Register</a></li>
          <li class="white-nav"><a href="{{ url_for('faq') }}">FAQ</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
</header>

<section class="banner-area relative council-banner" id="home" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/un.png') }}" style="height: 800px;">
    <div class="container">

        <div class="row fullscreen align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="banner-content text-center">
                    <!-- <img src="{{ url_for('static', filename='img/logo-3.png') }}" width="200px" class="align-items-center mb-2"> -->
                    <h1 class="text-uppercase text-white ml-4 council-heading">Councils<r>.</r></h1>
                    <h4 class="mt-5 council-text">Being the fourth iteration of its kind, TLMUN 2021 International offers various committees embedded with unique agendas, from bodies of the United Nations to historical conferences.</h4>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="councils" class="mb-5">

<section class="p19">
    <a href="{{ url_for('unhrc') }}">UNHRC
        <div class="s1"></div>
        <div class="s2"></div>
    </a>
</section>

<section class="p12">
    <a href="{{ url_for('wha') }}"  data-content="wha">wha</a>
</section>

<section class="p15">
    <a href="{{ url_for('unsc') }}">UNSC
        <div class="t1">
            <div class="in"></div>
        </div>
        <div class="t2">
            <div class="in"></div>
        </div>
    </a>
</section>

<section class="p16">
    <a href="{{ url_for('dewan_rakyat') }}">Dewan Rakyat</a>
</section>

<section class="p10">
    <a href="{{ url_for('yalta') }}">Yalta Conference of 1945</a>
</section>

<section class="p17 mb-5">
    <a href="{{ url_for('concertEurope') }}">"The Concert of Europe"</a>
</section>


<!-- <section class="p18">
    <a href="">
UNEA</a>
</section> -->
{% endblock %}