{% extends 'layout.html' %}

{% block title %}FAQ - TLMUN{% endblock %}

{% block content %}
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-red.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('councils') }}">Councils</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('resources') }}">Resources</a></li>
          <li><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li><a href="{{ url_for('register') }}">Register</a></li>
          <li class="active"><a href="{{ url_for('faq') }}">FAQ</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
</header>

<!-- =======  F.A.Q Section ======= -->
<section id="faq">

    <div class="container" data-aos="fade-up">

      <div class="section-header">
        <h2>Frequently Asked Questions (FAQ) </h2>
        <h4>TLMUN is going virtual! If you do not find the answer to your question below or on this website, please feel free to contact us at <strong><a href="mailto:tlmunconference@gmail.com">tlmunconference@gmail.com</a></strong>.</h4>
      </div>

      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
        <div class="col-lg-9">
          <ul id="faq-list">

            <li>
              <a data-toggle="collapse" class="collapsed" href="#faq1">I am not Malaysian. Can I still register for TLMUN 2021 International?<i class="fa fa-minus-circle"></i></a>
              <div id="faq1" class="collapse" data-parent="#faq-list">
                <p>
                  <strong>Absolutely!</strong> TLMUN 2021 International, as hinted by its name, is an international conference is open to all across the world. We welcome international delegates with open arms! 
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq2" class="collapsed">On what platform will TLMUN 2021 International take place? <i class="fa fa-minus-circle"></i></a>
              <div id="faq2" class="collapse" data-parent="#faq-list">
                <p>
                  TLMUN 2021 International will be held on <strong>Discord</strong>.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq3" class="collapsed">I have no prior experience in Model UN. Can I still participate in TLMUN 2021 International? <i class="fa fa-minus-circle"></i></a>
              <div id="faq3" class="collapse" data-parent="#faq-list">
                <p>
                  <strong>Yes, you can!</strong> TLMUN 2021 International is open to both beginners and veterans alike. Whether you are a beginner seeking to take the first steps in learning international diplomacy or an experienced veteran eager to test your mettle, TLMUN 2021 International has various and unique councils suited for you.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq4" class="collapsed">How do I become a delegate? <i class="fa fa-minus-circle"></i></a>
              <div id="faq4" class="collapse" data-parent="#faq-list">
                <p>
                  Firstly, head over to the “Register” section of the website and click on “Individual Registration”. A registration form would be prompted up. After submitting the form, you will be contacted by us for the confirmation of your registration. Subsequently, you would make your payment. You would then submit a proof of payment to us and upon receiving your allocation, you have officially become a delegate!
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq5" class="collapsed">Am I allowed to choose my own desired council and country? <i class="fa fa-minus-circle"></i></a>
              <div id="faq5" class="collapse" data-parent="#faq-list">
                <p>
                  <strong>Certainly!</strong> The registration forms allow for you to choose your desired council and country. However, there is no guarantee that you would be given your desired allocation. Thus, it is highly advisable to register as soon as possible to have the highest chance of receiving your desired allocation.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq7" class="collapsed">What is a Group Delegation? <i class="fa fa-minus-circle"></i></a>
              <div id="faq7" class="collapse" data-parent="#faq-list">
                <p>
                  A “Group Delegation” refers to a group of delegates joining the conference together. They could be a group of students coming from the same institution, a team of delegates from the same club or even a group of friends. In addition, a “Head of Group Delegation” refers to the main representative of their respective group delegation. They are the point of contact for the Secretariat and their constituent delegation members in relation to matters regarding their group delegation.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq8" class="collapsed">How do I form a Group Delegation? <i class="fa fa-minus-circle"></i></a>
              <div id="faq8" class="collapse" data-parent="#faq-list">
                <p>
                  In order to form a group delegation, please proceed to the “Register” section of the website and click on “Head of Group Delegation”. Subsequently, please fill up the registration form in its entirety. You will then be contacted and given what is known as a “Group Delegation Code”. In the individual delegate registration form, there is a section also named “Group Delegation Code”. Any registrant who places the given Group Delegation Code under that section during their registration will be assumed to be under the group delegation that you have formed.
                  <br><br>
                  For Head of Group Delegations, please note that the Group Delegation Registration Form does NOT substitute the Individual Delegate Registration Form. You must still register under the Individual Delegate Registration Form, preferably after receiving your Group Delegation Code.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq10" class="collapsed">Will I receive any form of certificates for participating? <i class="fa fa-minus-circle"></i></a>
              <div id="faq10" class="collapse" data-parent="#faq-list">
                <p>
                  All delegates will indeed receive a certificate of participation! That being said, they must participate for an adequate amount of committee sessions in order to be eligible for the said certificate. 
                  <br><br>
                  In addition, there are awards (such as Best Delegate, Honorable Mentions, etc’)! They will be given to outstanding delegates who have shown their skills and capabilities during the conference. These awards will be awarded by the chairs of their respective councils. More information can be found at “Award Policies” under “Resources”.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq11" class="collapsed">What is Committee Session Zero? <i class="fa fa-minus-circle"></i></a>
              <div id="faq11" class="collapse" data-parent="#faq-list">
                <p>
                  Committee Session Zero is one of the committee sessions for TLMUN 2021 International, being the only one for the first day of the conference. It serves as a time for the chairs to brief their delegates, whether it be the Rules of Procedures or to ensure that technical difficulties are pre-emptively resolved.  
                  <br><br>
                  The most significant aspect of Committee Session Zero is that it is completely optional and will not affect a delegate’s eligibility for a certificate of participation whatsoever. In that regard, no debate will occur as well.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq12" class="collapsed">I am unable to pay the registration fee! What should I do? <i class="fa fa-minus-circle"></i></a>
              <div id="faq12" class="collapse" data-parent="#faq-list">
                <p class="faq-link">
                  Please immediately contact us at <strong>finance.tlmunconference@gmail.com</strong>.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq13" class="collapsed">My institution/club/conference wishes to form a partnership with TLMUN 2021 International. How may this be arranged? <i class="fa fa-minus-circle"></i></a>
              <div id="faq13" class="collapse" data-parent="#faq-list">
                <p class="faq-link">
                  Regarding partnerships, please contact us through <strong>marketing.tlmunconference@gmail.com</strong>. Further discussions shall be conducted.
                </p>
              </div>
            </li>

            <li>
              <a data-toggle="collapse" href="#faq14" class="collapsed">I have other inquiries not mentioned here! <i class="fa fa-minus-circle"></i></a>
              <div id="faq14" class="collapse" data-parent="#faq-list">
                <p class="faq-link">
                  If you have any other inquiries, feel free to contact us through :
                  <br>
                  <strong>tlmunconference@gmail.com</strong> (for General Inquiries)
                  <br>
                  <strong>finance.tlmunconference@gmail.com</strong> (for Payment Inquiries)
                  <br>
                  <strong>marketing.tlmunconference@gmail.com</strong> (for Partnership/Sponsorship Inquiries)
                </p>
              </div>
            </li>

          </ul>
        </div>
      </div>

    </div>

</section><!-- End  F.A.Q Section -->
{% endblock %}