{% extends 'layout.html' %}

{% block title %}TLMUN{% endblock %}

{% block content %}
<!-- Start Header Area -->
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto" id="logo">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid" style="filter: brightness(0) invert(1);"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li class="white-nav"><a href="{{ url_for('about') }}">About</a></li>
          <li class="white-nav"><a href="{{ url_for('councils') }}">Councils</a></li>
          <li class="white-nav"><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li class="white-nav"><a href="{{ url_for('resources') }}">Resources</a></li>
		  <li class="white-nav"><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
		  <li class="white-nav"><a href="{{ url_for('register') }}">Register</a></li>
          <li class="white-nav"><a href="{{ url_for('faq') }}">FAQ</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
</header>
<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area relative" id="home" data-parallax="scroll" data-image-src="{{ url_for('static', filename='img/index.gif') }}">
		<div class="container">
			<div class="row fullscreen align-items-center justify-content-center">
				<div class="col-lg-10">
					<div class="banner-content text-center apply-btn index-banner">
						<!-- <img src="{{ url_for('static', filename='img/logo.png') }}" width="700px" class="align-items-center"> -->
						<div class="red-bg"></div>
						<div class="boxed">
							<h4>2021</h4>
							<h1 class="text-uppercase text-white mt-5">Taylor's Lakeside Model United Nations</h1>
							<h2 class="main-text">Renascitur.</h2>
							<h3 class="mb-3 mt-5">February 26-28, 2021</h3>
							<!-- Countdown 1-->
							<div class="countdown-container">
								<div id="countdown">
								  <ul>
									<li><span id="days"></span>days</li>
									<li><span id="hours"></span>Hours</li>
									<li><span id="minutes"></span>Minutes</li>
									<li><span id="seconds"></span>Seconds</li>
								  </ul>
								</div>
							</div>
							<a href="{{ url_for('register') }}"><button>Register Now!
								<span class="iconify" data-icon="zmdi-arrow-right" data-inline="false"></span>
							</button></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!-- Start letter Area -->
	<section class="letter-area">
		<div class="container">
			<div class="row">
				<div class="header-letter">
					<h3>A LETTER FROM THE SECRETARY-GENERAL</h3>
					<p style="text-align: justify;">Dear Distinguished Delegates and Members of the Dais,<br><br>
						It is my distinct pleasure and honour to invite you to join us at the fourth iteration of our conferences, namely Taylor’s Lakeside Model United Nations (TLMUN) 2021 International. Since 2018, TLMUN has been a forum for youths all over Malaysia and beyond our borders, to discuss the world’s most pressing issues and construct balanced and integrated solutions to intricate issues of international importance. Since TLMUN 2021 International will be conducted online, we aim to allow everyone that participated the chance to form lasting friendships and connections that traverse boundaries, cross cultures and last longer than the three days we shall share at the conference. TLMUN continues to strive to be one of the best and most prestigious conferences of its kind in Malaysia and the entirety of the TLMUN Secretariat is wholeheartedly eager to continue that legacy this year.								
						<br><br>
						TLMUN believes that despite these trying times of the worldwide pandemic that has been faced by everyone all around the world, we should continue the spirit of Model United Nations and the virtual set-up of the TLMUN conference allows everyone to attend our conference from the safety of their own homes, priced at a low cost almost unparalleled. In that regard, I can assure you that our Secretariat team is working to the best of their ability to ensure that this year’s conference will be able to provide you with the best Model UN experience possible, just as it was with our previous iterations.
						<br><br>
						I urge you to explore this website, to find our mind-stimulating and interesting councils to participate in. If you have any specific questions you wish to be answered, please contact us at <strong><u><a href="mailto:tlmunconference@gmail.com">tlmunconference@gmail.com</a></u></strong>.
						<br><br>Best regards, <br><br>
					</p>
						<img src="{{ url_for('static', filename='img/signature.png') }}">
						<br><br><br>
						<div class="signature" style="line-height: 0%;">
							<h4 style="font-weight: bold; font-family: 'Times New Roman', Times, serif; font-size: 17px;">
								Lim Ke Wen <br>
								Secretary-General<br>
								Taylor's Lakeside Model United Nations
							</h4>
						</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End letter Area -->
{% endblock %}

