{% extends 'layout.html' %}

{% block title %}Register - TLMUN{% endblock %}

{% block content %}
<!-- Start Header Area -->
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto" id="logo">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-red.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('councils') }}">Councils</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('resources') }}">Resources</a></li>
          <li><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li class="active"><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="about-content text-align-left">
                   <h1 class="text-center">Registration</h1>
                   <div class="about-letter"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Chair & Crisis Director</h5>
              <h6 class="card-price text-center">RM0<span class="period">/delegate</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Registration ends on 17th May 2020</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Prior MUN experience is mandatory</li>
                <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li> -->
                <!-- <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li> -->
              </ul>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScg07VhES_K3A4bB1KShcj-brh0PhsM7cCnd5_kbotjv4IMfw/viewform" target="_blank" class="btn btn-block text-uppercase">REGISTER</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Head of Group Delegation</h5>
              <h6 class="card-price text-center">RM10<span class="period">/delegate</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Registration ends on 31st July 2020</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Minimum 8 delegates per group delegation</li>
                <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li> -->
              </ul>
              <a href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSeHELmr_U2IEqHPl33T5nCZPVuELMyFv7bs53qwizH3eN1WSg/viewform" target="_blank" class="btn btn-block text-uppercase">REGISTER</a>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Individual Delegation</h5>
              <h6 class="card-price text-center">RM10<span class="period">/delegate</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Registration ends on 12 August 2020</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>International Delegate fee: US$3</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Fee is on a deposit basis (look at the top description)</li>
                <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li> -->
              </ul>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScFHS9H8sMQgchi9lAi3V7PBHNjDrKl7vOakZ_7hsi3FZ30rw/viewform" target="_blank" class="btn btn-block text-uppercase">REGISTER</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="about-area" id="payment-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="about-content text-align-left">
                   <h2 class="text-center">Payment Details</h2>
                   <div class="about-letter payment-letter">
                        <p>
                          The details required to make the payment will be emailed to you once you have successfully registered your name through the links above.
                          <br><br>
                          Please be informed that your allocation into the conference can only be processed once the payment has been made. The payment is required to be made at least 14 days after receiving the confirmation email or at least 2 days before the first day of the conference, whichever comes first. If the payment is not made within that time frame, your delegate allocation will be forfeited and you will be required to re-register to participate.
                          <br><br>
                          The link to the respective council Discord server will be emailed to delegates at least a week before the conference after the payment has been made. An e-certificate will be given to all delegates who have fully participated in the conference unless a valid reason is given for not doing so.
                        </p>
				    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area" id="payment-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="about-content text-align-left">
                   <h2 class="text-center">Refund Policy</h2>
                   <div class="about-letter payment-letter">
                        <p>
                          Thank you for your interest to join TLMUN 2020. However, we understand the potentiality of any unprecedented event interdicting your participation in the conference. The eligibility of receiving a refund will be stated as below. 
                          <br><br>
                          A notification to cancel participation must be received by TLMUN Finance Department via email not later than <strong>7 days after completion of payment or 2 days before the day of the conference, whichever comes first</strong> to be eligible for a refund. Please indicate the adequate payment verification such as a bank transaction screenshot for our reference and recording purposes in the email. Cancellations requested exceeding the period of time stipulated above will not be entitled for a refund. 
                          <br><br>
                          Cancellations due to medical conditions or any other <strong>unforeseeable circumstances indubitable beyond one's control</strong> will be subjected to our review on a <strong>case-by-case basis</strong>. We are able to allow full refunds for delegates who successfully provide reasonable and sufficient verification of such circumstances whatsoever before 12/02/2021 
                          <br><br>
                          Please send in your refund request by email
                          Email : <a href="mailto:finance.tlmunconference@gmail.com"><u><strong>finance.tlmunconference@gmail.com</strong></u></a>
                          Email Heading : Payment Refund 
                          Note : Kindly attach payment verification for our reference. 
                          <br><br>
                          After requesting for a refund, you will receive an update within <strong>3 working days</strong>. If your refund is approved, refunds of fees are typically issued via your original payment mode. An email notification will be sent to you once your refund is processed. In the event you did not receive any responses within the specified period of time (3 working days) , please do not hesitate to contact us at <a href="mailto:finance.tlmunconference@gmail.com"><u><strong>finance.tlmunconference@gmail.com</strong></u></a>   
                          <br><br>
                          <i>Note: Merchant fees from the initial transaction and other bank transfer feed will be deducted from the amount refunded.</i>          
                        </p>
				    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}