{% extends 'layout.html' %}

{% block title %}Register - TLMUN{% endblock %}

{% block content %}
<!-- Start Header Area -->
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto" id="logo">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo-red.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('councils') }}">Councils</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('resources') }}">Resources</a></li>
          <li><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li class="active"><a href="{{ url_for('register') }}">Register</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
</header>
<!-- End Header Area -->
<!-- Start Banner Area -->
<section class="about-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="about-content text-align-left">
                   <h1 class="text-center">Registration</h1>
                   <div class="about-letter"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Banner Area -->

<section class="pricing py-5">
    <div class="container">
      <div class="row">
        <!-- Free Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Chair & Crisis Director Registration</h5>
              <h6 class="card-price text-center">FREE</h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Registration ends on 1st January 2021.</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Fee is waived.</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Prior MUN experience is mandatory.</li>
                <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li> -->
                <!-- <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Unlimited Private Projects</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Dedicated Phone Support</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li> -->
              </ul>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScg07VhES_K3A4bB1KShcj-brh0PhsM7cCnd5_kbotjv4IMfw/viewform" target="_blank" class="btn btn-block text-uppercase">REGISTER</a>
            </div>
          </div>
        </div>
        <!-- Plus Tier -->
        <div class="col-lg-4">
          <div class="card mb-5 mb-lg-0">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Head of Group Delegation</h5>
              <h6 class="card-price text-center">RM5<span class="period">/person</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Registration ends on 21st February 2021.</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Minimum 8 delegates per group delegation.</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Only to register your group delegation!</li>
                <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Public Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Free Subdomain</li>
                <li class="text-muted"><span class="fa-li"><i class="fas fa-times"></i></span>Monthly Status Reports</li> -->
              </ul>
              <a href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSeHELmr_U2IEqHPl33T5nCZPVuELMyFv7bs53qwizH3eN1WSg/viewform" target="_blank" class="btn btn-block text-uppercase">REGISTER</a>
            </div>
          </div>
        </div>
        <!-- Pro Tier -->
        <div class="col-lg-4">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title text-muted text-uppercase text-center">Individual &nbsp; &nbsp;Delegation</h5>
              <h6 class="card-price text-center">RM5<span class="period">/person</span></h6>
              <hr>
              <ul class="fa-ul">
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Registration ends on 24th February 2021.</strong></li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Local Bank Transfer : RM 5.</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>PayPal Payment : USD 3.</li>
                <!-- <li><span class="fa-li"><i class="fas fa-check"></i></span>Community Access</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Unlimited Private Projects</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Dedicated Phone Support</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span><strong>Unlimited</strong> Free Subdomains</li>
                <li><span class="fa-li"><i class="fas fa-check"></i></span>Monthly Status Reports</li> -->
              </ul>
              <a href="https://docs.google.com/forms/d/e/1FAIpQLScFHS9H8sMQgchi9lAi3V7PBHNjDrKl7vOakZ_7hsi3FZ30rw/viewform" target="_blank" class="btn btn-block text-uppercase">REGISTER</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>

<section class="about-area" id="payment-area">
  <div class="container-fluid">
    <div class="row align-items-center justify-content-center">
      <div class="col-lg-10">
        <div class="about-content text-align-left">
            <h2 class="text-center">Payment Details</h2>
            <div class="about-letter payment-letter">
              <p>
                The details required to make the payment will be emailed to you once you have successfully registered your name through the links above.
                <br>
                <ol class="a tab">
                  <li>Payment can be made upon receiving an email confirming your registration to the specified Bank or PayPal accounts, whichever your choice was during registration. In order to confirm your allocation, payment must be made to the specified accounts.</li>
                  <br>
                  <li class="mb-2">For delegates living in Malaysia, both local bank transfer and PayPal are acceptable forms of payment. Paying through local bank transfer will cost RM 5, while paying through PayPal will cost USD 3.</li>
                  <!-- <ul class="tab mb-4">
                    <li>Bank : CIMB Bank Berhad</li>
                    <li>Bank Account Holder : Cheah Li Yueh</li>
                    <li>Bank Account Number : 7074478545</li>
                  </ul> -->
                  <li>For international delegates living outside of Malaysia, payment of fees can only be performed through PayPal. Paying through PayPal will cost USD 3.</a></u></strong>
                      <br><br>
                      <i>Note : Please be aware that the Paypal transaction fee is inclusive of the fee for international delegates, as such no extra payment beyond the USD 3 is required to be made.</i>
                  </li>
                  <br>
                  <li>After completion of payment, you are required to send the proof of payment in a formal email to the TLMUN Finance Department at <a><strong><u>finance.tlmunconference@gmail.com</u></strong></a> with an email headed “ [Delegate Name] - Proof of Payment ”. For example:  “Lim Ke Wen - Proof of Payment”.</li>
                </ol>
                <br>
                The link to the conference Discord server will be emailed to all confirmed delegates at least a week before the conference. An e-certificate will be given to all delegates who have fully participated in the conference unless the delegate fails to achieve adequate attendance without proper justification. The Secretariat reserves the right to determine if the justification given by the delegate is valid.
              </p>
            </div>
      </div>
      </div>
    </div>
    </div>
  </div>
</section>

<section class="about-area" id="payment-area">
    <div class="container-fluid">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-10">
                <div class="about-content text-align-left">
                   <h2 class="text-center">Refund Policy</h2>
                   <div class="about-letter payment-letter">
                        <p>
                          Thank you for your interest to join TLMUN 2021 International. However, we understand the potentiality of any unprecedented event interdicting your participation in the conference. The eligibility of receiving a refund will be stated as below. 
                          <br>
                          <ol class="a tab">
                            <li>A notification to cancel participation must be received by the TLMUN Finance Department via email not later than 7 days after completion of payment to be eligible for a refund. Please indicate the adequate payment verification such as a bank transaction screenshot for our reference and recording purposes in the email. Cancellations exceeding the period of 7 days from the day of payment made will not be entitled for a refund.</li>
                            <br>
                            <li>Cancellations due to medical conditions or any other unforeseeable circumstances indubitable beyond one's control will be subjected to our review on a case-by-case basis. We are able to allow full refunds for delegates who successfully provide reasonable and sufficient verification of such circumstances whatsoever before 12/02/2021.</li>
                            <br>
                            <li>Please send in your refund request by email:
                            <ul class="tab">
                              <li>Email : <u><strong><a href="mailto:finance.tlmunconference@gmail.com">finance.tlmunconference@gmail.com</a></strong></u><li>
                              <li>Email Heading : Payment Refund</li>
                            </ul>
                            <i>Note : Kindly attach payment verification for our reference</i>
                            </li>
                            <br>
                            <li>After requesting for a refund, you will receive an update within 3 working days. If your refund is approved, refunds of fees are typically issued via your original payment mode. An email notification will be sent to you once your refund is processed. In the event you did not receive any responses within the specified period of time (3 working days), please do not hesitate to contact us at <u><strong><a href="mailto:finance.tlmunconference@gmail.com">finance.tlmunconference@gmail.com</a></strong></u>. 
                                <br>
                                <i>Note : Merchant fees from the initial transaction and other bank transfer feed will be deducted from the amount refunded.</i>
                            </li>
                          </ol> 
                          <br><br>
                          <strong style="font-size:22px;">TLMUN 2021 reserves the right, at its discretion, to change, modify, add or remove portions of the policy from time to time.</strong>
                        </p>
				    </div>
                </div>
            </div>
        </div>
    </div>
</section>


{% endblock %}