{% extends 'layout.html' %}

{% block title %}Secretariat - TLMUN{% endblock %}

{% block content %}
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('councils') }}">Councils</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('resources') }}">Resources</a></li>
          <li class="active"><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>

<!--================Hero Banner Section start =================-->
<section class="hero-banner hero-banner-sm">
    <div class="hero-wrapper">
      <div class="hero-left">
        <h1 class="hero-title">Meet the Secretariat</h1>
        <p>The Secretariat is a ten-person team tasked with running the entire conference. From overseeing the tens of staff members to liaising with the hundreds of delegates that attend the conference, it is their leadership that makes TLMUN the most well-run, prestigious Model UN conference in Malaysia.</p>
      </div>
      <div class="hero-right">
        <div class="owl-carousel owl-theme w-100 hero-carousel">
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{{ url_for('static', filename='img/logo-red.png') }}" alt="">
          </div>
        </div>
      </div>
    </div>
</section>
  <!--================Hero Banner Section end =================-->
<hr style="margin-bottom: 120px !important;">

    <!--================Chef section start =================-->  
<section class="section-margin mt-5 mb-5">
    <div class="container">
        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/secgen.png') }}" alt="">
            <h2 class="intro-title">Secretary Generals</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
			<!-- Project template -->
			<div class="col-md-6 portfolio-wrap">
				<div class="row align-items-center">
					<div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/g1.png') }}">
                        <div class="box-content">
                            <h3 class="title">Lim Ke Wen</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="pt-4">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Lim Ke Wen</span>
										<h2 class="mb-4"><a>SECRETARY-GENERAL</a></h2>
									</div>
									<div class="absolute relative">
										<p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END Project template -->

			<div class="col-md-6 portfolio-wrap">
				<div class="row align-items-center">
					<div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/hero-1.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Daniel</h3>
                            <ul class="icon">
                                <li><a href="#"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="pt-4">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Daniel</span>
										<h2 class="mb-4"><a>
                                            DEPUTY SECRETARY-GENERAL</a></h2>
									</div>
									<div class="absolute relative">
										<p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>
				
        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <!-- Project template -->
            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/g1.png') }}">
                        <div class="box-content">
                            <h3 class="title">Nicholas</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Nicholas</span>
                                        <h2 class="mb-4"><a>UNDER-SECRETARY-GENERAL OF ACADEMICS</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Project template -->

            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/hero-1.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Rishen</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Rishen</span>
                                        <h2 class="mb-4"><a>UNDER-SECRETARY-GENERAL OF OPERATIONS AND MARKETING</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/delegate.png') }}" alt="">
            <h2 class="intro-title">Delegate Affairs</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <!-- Project template -->
            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/g1.png') }}">
                        <div class="box-content">
                            <h3 class="title">Sarah Chong</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Sarah Chong</span>
                                        <h2 class="mb-4"><a>ASSOCIATE OF DELEGATE AFFAIRS</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Project template -->

            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/hero-1.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Rie</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Rie</span>
                                        <h2 class="mb-4"><a>ASSOCIATE OF DELEGATE AFFAIRS</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/marketing.png') }}" alt="">
            <h2 class="intro-title">Marketing</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <!-- Project template -->
            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/g1.png') }}">
                        <div class="box-content">
                            <h3 class="title">Katelyn Cheah</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Katelyn Cheah</span>
                                        <h2 class="mb-4"><a>ASSOCIATE OF FINANCE</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Project template -->

            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/hero-1.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Brittany</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Brittany</span>
                                        <h2 class="mb-4"><a>ASSOCIATE OF MARKETING</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/finance.png') }}" alt="">
            <h2 class="intro-title">Finance</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <!-- Project template -->
            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/g1.png') }}">
                        <div class="box-content">
                            <h3 class="title">Ke Xin</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Ke Xin</span>
                                        <h2 class="mb-4"><a>ASSOCIATE OF MARKETING</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/design.png') }}" alt="">
            <h2 class="intro-title">Creative Design</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
			<!-- Project template -->
			<div class="col-md-6 portfolio-wrap">
				<div class="row align-items-center">
					<div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/g1.png') }}">
                        <div class="box-content">
                            <h3 class="title">Bryan Tan</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="pt-4">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Bryan Tan Jun Wei</span>
										<h2 class="mb-4"><a>ASSOCIATE OF CREATIVE DESIGN</a></h2>
									</div>
									<div class="absolute relative">
										<p>Young Jun Andrew Kim is a junior at Harvard College in Eliot House concentrating in Economics, and is originally from Seoul, South Korea. He has previously served as Director of the South Korean Women’s Presidential Advisory Board in HNMUN 2020 and is thrilled to be leading the Operations organ as an USG in HNMUN 2021. In HMUN, he has served as an Assistant Director of Administration and Director of Business. Outside of Model UN, Andrew is a member of Harvard’s Catholic Student Association and works part-time as a campus tour guide. In his free time, he enjoys traveling, plane-spotting, and napping. 
                                            <br><br>
                                            He looks forward to helping make this year’s HNMUN the best one yet! </p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END Project template -->
        <!-- END Project template -->
    </div>
</section>
{% endblock %}