{% extends 'layout.html' %}

{% block title %}Secretariat - TLMUN{% endblock %}

{% block content %}
<header class="default-header">
    <div class="container">
        <div class="header-wrap">
            <div class="header-top d-flex justify-content-between align-items-center">
                <div class="logo">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt=""></a>
                </div>
                <div class="main-menubar d-flex align-items-center" style="filter: brightness(0);">
                    <nav>
                        <a href="{{ url_for('about') }}">About</a>
                        <a href="{{ url_for('councils') }}">Councils</a>
                        <a href="{{ url_for('timeline') }}">Timeline</a>
                        <a href="{{ url_for('resources') }}">Resources</a>
                        <a href="{{ url_for('secretariat') }}">Secretariat</a>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</header>

<!--================Hero Banner Section start =================-->
<section class="hero-banner hero-banner-sm">
    <div class="hero-wrapper">
      <div class="hero-left">
        <h1 class="hero-title">Meet the Secretariat</h1>
        <p>The Secretariat is a ten-person team tasked with running the entire conference. From overseeing the tens of staff members to liaising with the hundreds of delegates that attend the conference, it is their leadership that makes TLMUN the most well-run, prestigious Model UN conference in Malaysia.</p>
        <ul class="hero-info d-none d-lg-block">
          <li>
            <img src="{{ url_for('static', filename='img/academics.png') }}" alt="">
            <h4>Academics</h4>
          </li>
          <li>
            <img src="{{ url_for('static', filename='img/delegate.png') }}" alt="">
            <h4>Delegate Affairs</h4>
          </li>
          <li>
            <img src="{{ url_for('static', filename='img/design.png') }}" alt="">
            <h4>Design</h4>
          </li>
        </ul>
      </div>
      <div class="hero-right">
        <div class="owl-carousel owl-theme w-100 hero-carousel">
          <div class="hero-carousel-item">
            <img class="img-fluid" src="{{ url_for('static', filename='img/logo-red.png') }}" alt="">
          </div>
        </div>
      </div>
    </div>
</section>
  <!--================Hero Banner Section end =================-->


    <!--================Chef section start =================-->  
<section class="section-margin mt-5 mb-5">
    <div class="container">
        <div class="section-intro mb-75px">
            <h2 class="intro-title">Secretary Generals</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
			<!-- Project template -->
			<div class="col-md-6 portfolio-wrap filter-web">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="img js-fullheight" style="background-image: url(static/images/work-3.jpg);">
							
						</div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="px-0 pt-5">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Web Development {28/05/2020}</span>
										<h2 class="mb-4"><a>All Reads</a></h2>
									</div>
									<div class="absolute relative">
										<p>A book review website. Users will be able to register for the website and then log in using their username 
											and password. Once they log in, they will be able to search for books, leave reviews for individual books, 
											and see the reviews made by other people. There is also the use of a third-party API by Goodreads, another book 
											review website, to pull in ratings from a broader audience. Finally, users will be able to query for book details and 
											book reviews programmatically via the website’s API.</p>
										<p><a href="https://github.com/TheClub4/allreads" class="custom-btn">View Portfolio</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END Project template -->

			<div class="col-md-6 portfolio-wrap filter-data">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="img js-fullheight" style="background-image: url(static/images/work-4.jpg);">
							
						</div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="px-0 pt-5">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Data Analytics {01/05/2020}</span>
										<h2 class="mb-4"><a>Vehicle Collisions in New York City</a></h2>
									</div>
									<div class="absolute relative">
										<p>A Data Science dashboard webapp depicting vehicle collisions in New York City. The dataset was derived from the New York City Police Department, 
											consisting of 1.67 million rows and 29 columns. The dashboard, amongst other features, showcases a plotly histogram for the breakdown of motor vehicle collisions by minute between one-hour intervals.
											It also has an interactive 3D map that displays the frequency of collisions during a given time of day; notice that most motor vehicle collisions happen at night. The map was plotted by utilising Uber's 
											open source deck.gl library (pydeck).</p>
										<p><a href="https://github.com/TheClub4/streamlit-nyc" class="custom-btn">View Portfolio</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<div class="col-md-6 portfolio-wrap filter-ai">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="img js-fullheight" style="background-image: url(static/images/work-2.jpg);">
							
						</div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="px-0 pt-5">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Deep Learning {03/04/2020}</span>
										<h2 class="mb-4"><a>Neural Style Transfer</a></h2>
									</div>
									<div class="absolute relative">
										<p>Neural Style Transfer is an algorithm, that given a content image C and a style image S, can generate an artistic image.
											It uses representations (hidden layer activations) based on a pre-trained ConvNet. The content cost function is computed using one hidden layer's activations; the style cost function for one layer is computed using the Gram matrix of that layer's activations. 
											The overall style cost function is obtained using several hidden layers.
											Lastly, optimizing the total cost function results in synthesizing new images.</p>
										<p><a href="https://github.com/TheClub4/artwork-neural-style-transfer" class="custom-btn">View Portfolio</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
				
			<div class="col-md-6 portfolio-wrap">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="img js-fullheight" style="background-image: url(../img/g1.png);">
							
						</div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="px-0 pt-5">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Convoluted Neural Networks {12/06/2020}</span>
										<h2 class="mb-4"><a>Facial Expression Recognition w/ Keras</a></h2>
									</div>
									<div class="absolute relative">
										<p>Built and trained a convolutional neural network (CNN) in Keras to recognize facial expressions. 
											The data consists of 48x48 pixel grayscale images of faces. The objective is to classify each face based on 
											the emotion shown in the facial expression into one of seven categories (0=Angry, 1=Disgust, 2=Fear, 3=Happy, 4=Sad, 
											5=Surprise, 6=Neutral). OpenCV was used to automatically detect faces in images and draw bounding boxes around them. 
											Once the model has been trained, saved, and exported the CNN, the trained model predictions was served to a web interface to 
											perform real-time facial expression recognition on video and image data.</p>
										<p><a href="https://github.com/TheClub4/facial-expression-recognition" class="custom-btn">View Portfolio</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="col-md-6 portfolio-wrap filter-ai">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="img js-fullheight" style="background-image: url(static/images/work-5.jpg);">
							
						</div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="px-0 pt-5">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Minimax {24/04/2020}</span>
										<h2 class="mb-4"><a>Tic-Tac-Toe Bot</a></h2>
									</div>
									<div class="absolute relative">
										<p>Used Minimax to implement an AI that plays Tic-Tac-Toe optimally. since Tic-Tac-Toe 
												is a tie given optimal play by both sides, you should never be able to beat the AI (though if you don’t 
												play optimally as well, it may beat you!)</p>
										<p><a href="https://github.com/TheClub4/tictactoe" class="custom-btn">View Portfolio</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 portfolio-wrap filter-ai">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="img js-fullheight" style="background-image: url(static/images/work-7.jpg);">
							
						</div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="px-0 pt-5">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Convoluted Neural Networks {03/04/2020}</span>
										<h2 class="mb-4"><a>Car Detection w/ YOLO</a></h2>
									</div>
									<div class="absolute relative">
										<p>Object detection using the YOLO model. Many of the ideas in this notebook are described 
											in the two YOLO papers: Redmon et al., 2016 and Redmon and Farhadi, 2016. This project mainly 
											touches upon the technicalities of bounding boxes, non-max suppression and IOU.</p>
										<p><a href="https://github.com/TheClub4/car-detection-yolov2" class="custom-btn">View Portfolio</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<div class="col-md-6 portfolio-wrap filter-ai">
				<div class="row align-items-center">
					<div class="col-md-12">
						<div class="img js-fullheight" style="background-image: url(static/images/work-8.jpg);">
							
						</div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="px-0 pt-5">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Sentiment Analysis {22/03/2020}</span>
										<h2 class="mb-4"><a>Sentiment Analysis of IMDb Reviews</a></h2>
									</div>
									<div class="absolute relative">
										<p>Based off the fundamentals of sentiment analysis, and built a logistic regression model to classify movie reviews as either positive or negative. I had used the IMDB dataset for the purpose of this project. The project's goal was to use a simple logistic regression estimator from scikit-learn for document classification.</p>
										<p><a href="https://github.com/TheClub4/IMDB_Sentiment_Analysis" class="custom-btn">View Portfolio</a></p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

{% endblock %}