{% extends 'layout.html' %}

{% block title %}Secretariat - TLMUN{% endblock %}

{% block content %}
<header id="header" class="d-flex align-items-center header-transparent">
    <div class="container d-flex align-items-center">

      <div class="logo mr-auto">
        <!-- <h1 class="text-light"><a href="index.html"><span>Bootslander</span></a></h1> -->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename='img/logo.png') }}" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul>
          <li><a href="{{ url_for('about') }}">About</a></li>
          <li><a href="{{ url_for('councils') }}">Councils</a></li>
          <li><a href="{{ url_for('timeline') }}">Timeline</a></li>
          <li><a href="{{ url_for('resources') }}">Resources</a></li>
          <li class="active"><a href="{{ url_for('secretariat') }}">Secretariat</a></li>
          <li><a href="{{ url_for('faq') }}">FAQ</a></li>
        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header>

<!--================Hero Banner Section start =================-->
<section class="hero-banner hero-banner-sm">
    <div class="hero-wrapper">
      <div class="hero-left">
        <h1 class="hero-title">Meet the Secretariat</h1>
        <p>The Secretariat is a ten-person team tasked with running the entire conference. From overseeing the tens of staff members to liaising with the hundreds of delegates that attend the conference, it is their leadership that makes TLMUN the most well-run, prestigious Model UN conference in Malaysia.</p>
      </div>
      <div class="hero-right">
        <div class="owl-carousel owl-theme w-100 hero-carousel">
          <div class="hero-carousel-item">
            <img class="img-fluid secretariat-logo" src="{{ url_for('static', filename='img/logo-red.png') }}" alt="">
          </div>
        </div>
      </div>
    </div>
</section>
  <!--================Hero Banner Section end =================-->
<hr style="margin-bottom: 120px !important; width: 50%; border: 1px solid black;">

    <!--================Chef section start =================-->  
<section class="section-margin mt-5 mb-5">
    <div class="container">
        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/secgen.png') }}" alt="">
            <h2 class="intro-title">Secretary-Generals & Senior Advisors</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
			<!-- Project template -->
			<div class="col-md-6 portfolio-wrap">
				<div class="row align-items-center">
					<div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/KeWen.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Lim Ke Wen</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="pt-4">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Lim Ke Wen</span>
										<h2 class="mb-3"><a>SECRETARY-GENERAL</a></h2>
									</div>
									<div class="absolute relative">
										<p>"I'm supposed to be retired from MUN but I AM the conference."</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- END Project template -->

			<div class="col-md-6 portfolio-wrap">
				<div class="row align-items-center">
					<div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/Daniel.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Daniel Tham</h3>
                            <ul class="icon">
                                <li><a href="#"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="#"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="pt-4">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Daniel Tham Jim Ren</span>
										<h2 class="mb-3"><a>
                                            DEPUTY SECRETARY-GENERAL</a></h2>
									</div>
									<div class="absolute relative">
										<p>"Ability without opportunity is nothing."
                                            -Napoleon Bonaparte</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <!-- Project template -->
            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/HohShan.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Poh Hoh Shan</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Poh Hoh Shan</span>
                                        <h2 class="mb-3"><a>Senior Advisor</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>“Free men can easily become enslaved if they let others do their thinking and talking, instead of using their own heads.”</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Project template -->

            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/Chris.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Chris Leong</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Chris Leong Qi Zhong</span>
                                        <h2 class="mb-3"><a>Senior Advisor</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>"In life, there are no solutions, only trade-offs."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/academics.png') }}" alt="">
            <h2 class="intro-title">Academics</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <!-- Project template -->
            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/Nicholas.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Nicholas Chan</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Nicholas Chan</span>
                                        <h2 class="mb-3"><a>UNDER-SECRETARY-GENERAL OF ACADEMICS</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>"Politics, noun. A strife of interests masquerading as a contest of principles. The conduct of public affairs for private advantage."  - Ambrose Bierce</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Project template -->

            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/Rie.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Rie Kajiya</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Rie Kajiya</span>
                                        <h2 class="mb-3"><a>ASSOCIATE OF DELEGATE AFFAIRS</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>"Totally did not think that Model UN is about modelling when I first read 'To All the Boys I've Loved Before'."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <!-- Project template -->
            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/Sarah.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Sarah Chong</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Sarah Chong Xin Yee</span>
                                        <h2 class="mb-3"><a>ASSOCIATE OF DELEGATE AFFAIRS</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>"If you dont speed run life, life will speed run you."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Project template -->
        </div>
        
        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/operations.png') }}" alt="">
            <h2 class="intro-title">Operations & Marketing</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
            <!-- Project template -->
            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/Rishen.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Rishen Murali</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Rishen Murali</span>
                                        <h2 class="mb-3"><a>UNDER-SECRETARY-GENERAL OF OPERATIONS AND MARKETING</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>"If I had a politician for every time someone tried to overthrow the government, I'd have the numbers to overthrow the government."</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/Katelyn.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Katelyn Cheah</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Katelyn Cheah Li Yueh</span>
                                        <h2 class="mb-3"><a>ASSOCIATE OF FINANCE</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>"If opportunity doesn't knock, build a door." -  Milton Berle</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END Project template -->

            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/brittany.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Brittany Lee</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Brittany Lee</span>
                                        <h2 class="mb-3"><a>ASSOCIATE OF MARKETING</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>"Who wants to have their life planned out for them?"- Killua Zoldyck</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6 portfolio-wrap">
                <div class="row align-items-center">
                    <div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/KeXin.jpg') }}">
                        <div class="box-content">
                            <h3 class="title">Bee Ke Xin</h3>
                            <ul class="icon">
                                <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li>
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="text">
                            <div class="pt-4">
                                <div class="desc">
                                    <div class="top top-relative">
                                        <span class="subheading">Bee Ke Xin</span>
                                        <h2 class="mb-3"><a>ASSOCIATE OF MARKETING</a></h2>
                                    </div>
                                    <div class="absolute relative">
                                        <p>"The power of imagination makes us infinite"- John Muir</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section-intro">
            <img class="mr-3" src="{{ url_for('static', filename='img/design.png') }}" alt="">
            <h2 class="intro-title">Creative Design</h2>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
			<!-- Project template -->
			<div class="col-md-6 portfolio-wrap">
				<div class="row align-items-center">
					<div class="col-md-12 box15">
                        <img src="{{ url_for('static', filename='img/secretariat/Bryan.png') }}">
                        <div class="box-content">
                            <h3 class="title">Bryan Tan</h3>
                            <ul class="icon">
                                <!-- <li><a href="https://github.com/TheClub4/allreads"><i class="fab fa-instagram icon"></i></a></li> -->
                                <li><a href="https://github.com/TheClub4/streamlit-nyc"><i class="fab fa-linkedin-in icon"></i></a></li>
                            </ul>
                        </div>
					</div>
					<div class="col-md-12">
						<div class="text">
							<div class="pt-4">
								<div class="desc">
									<div class="top top-relative">
										<span class="subheading">Bryan Tan Jun Wei</span>
										<h2 class="mb-3"><a>ASSOCIATE OF CREATIVE DESIGN</a></h2>
									</div>
									<div class="absolute relative">
										<p>"Why can't I just eat my waffle?" - President Barrack Obama</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
        </div>

        <!-- END Project template -->
    </div>
</section>
{% endblock %}