<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-W66RWD2NJQ"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-W66RWD2NJQ');
	</script>
	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, chrome=1" />
	<meta property="og:url" content="https://www.tlmun.org/?latest" />
	<meta property="og:title" content="TLMUN 2021" />
	<meta property="og:description" content="Register for Taylor’s Lakeside Model United Nations (TLMUN) 2021 International! Since 2018, TLMUN has been a forum for youths all over Malaysia and beyond our borders, to discuss the world’s most pressing issues and construct balanced and integrated solutions to intricate issues of international importance." />
	<meta property="og:type" content="website" />
	<meta name="image" property="og:image:secure_url" itemprop="image" content="https://www.tlmun.org/static/img/og.png" />
	<meta name="image" property="og:image" itemprop="image" content="https://www.tlmun.org/static/img/og.png" />
	<meta property="og:image:width" content="2880" />
	<meta property="og:image:height" content="3000" />

	<!--Insert Twitter Card Markup -->

	<meta name="twitter:card" content="summary_large_image" />

	<!-- <meta name="twitter:site" content="@TheClub4" /> -->

	<meta name="twitter:domain" content="The url of your web page" />

	<meta name="twitter:title" content="TLMUN 2021" />

	<meta name="twitter:description" content="Register for Taylor’s Lakeside Model United Nations (TLMUN) 2021 International! Since 2018, TLMUN has been a forum for youths all over Malaysia and beyond our borders, to discuss the world’s most pressing issues and construct balanced and integrated solutions to intricate issues of international importance." />

	<meta name="twitter:image" content="https://www.tlmun.org/static/img/og.png" />

	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="Icon" type="Icon" href="{{ url_for('static', filename='img/og1.png') }}">
	<!-- Author Meta -->
	<meta name="author" content="TLMUN">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>WHA - TLMUN</title>

  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600,700,900' rel='stylesheet' type='text/css'>

  <!-- Booooooootstrap -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">


  <!-- Styles -->
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/rellax.css') }}">

  <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script>window.html5 || document.write('<script src="js/vendor/html5shiv.js"><\/script>')</script>
    <![endif]-->
</head>

<body>
  <div class="grid">
    <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-2">
          <div class="grid-line"></div>
        </div>
        <div class="col-md-2">
          <div class="grid-line"></div>
        </div>
        <div class="col-md-2">
          <div class="grid-line"></div>
        </div>
        <div class="col-md-2">
          <div class="grid-line"></div>
        </div>
        <div class="col-md-2">
          <div class="grid-line" style="margin-right:-30px;border-right:1px solid #ccc"></div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="fixed-top rellax" data-rellax-speed="-2" data-rellax-xs-speed="-5" data-rellax-mobile-speed="3"
    data-rellax-tablet-speed="-8" style="transform: rotate(45deg);">
  </div> -->
  <div class="wha rellax">
  </div>

  <main class="main">
    <header>
      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-11">
            <a href="{{ url_for('councils') }}">
              <h2>COUNCILS<span>&#x2190;</span></h2>
            </a>
            <div class="white-block"></div>
          </div>
        </div>
        <div class="title">
          <div class="row">
            <div class="col-md-offset-1 col-md-6">
              <h1>World Health Assembly
                <!-- <span>JS</span> -->
              </h1>
            </div>
            <div class="col-md-4 text-right">
              <a href="{{ url_for('register') }}">REGISTER</a>
            </div>
          </div>
        </div>
        <div class="subtitle">
          <div class="row">
            <div class="col-md-offset-1 col-md-2">
              <h3><a href="{{ url_for('index') }}">HOME</a></h3>
            </div>
            <div class="col-md-2">
              <h3><a href="https://docs.google.com/spreadsheets/d/16gyV77-RhyE0ucOUSKgRpIn7Fh7WrZx2grADTVJ_5QU/edit#gid=122415334" target="_blank">COUNTRY MATRIX</a></h3>
            </div>
            <div class="col-md-2">
              <h3><a href="{{ url_for('resources') }}">RESEARCH REPORT</a></h3>
            </div>
          </div>
        </div>
      </div>
    </header>

    <div class="mouse_scroll">
      <div class="mouse">
        <div class="wheel"></div>
      </div>
      <div>
        <span class="m_scroll_arrows unu"></span>
        <span class="m_scroll_arrows doi"></span>
        <span class="m_scroll_arrows trei"></span>
      </div>
    </div>

    <section class="section san-francisco">
      <div class="absolute">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-1 col-md-11">
              <h2 class="rellax" data-rellax-speed="-3" data-rellax-xs-speed="-5" data-rellax-mobile-speed="4"
                data-rellax-tablet-speed="-3">
                Geneva<br>Switzerland
              </h2>
            </div>
          </div>
        </div>
      </div>

      <div class="absolute above">
        <div class="container">
          <div class="row">

            <div class="col-md-offset-1 col-md-2">
              <div class="lg-green rellax" data-rellax-speed="2" data-rellax-xs-speed="1" data-rellax-mobile-speed="2"
                data-rellax-tablet-speed="2" style="transform: rotate(45deg);">
              </div>
            </div>

            <div class="col-md-offset-2 col-md-1" style="margin-left: 120px;">
              <div class="sm-purple rellax" data-rellax-speed="2" data-rellax-xs-speed="1" data-rellax-mobile-speed="2"
                data-rellax-tablet-speed="2" style="transform: rotate(45deg);">
              </div>
            </div>

            <div class="col-md-offset-3 col-md-1" style="margin-left: 200px; margin-top: 200px;">
              <div class="md-green rellax" data-rellax-speed="1" data-rellax-xs-speed="1" data-rellax-mobile-speed="2"
                data-rellax-tablet-speed="2" style="transform: rotate(45deg);">
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="container">
        <div class="row">
          <div class="col-md-offset-1 col-md-5">
            <div class="date">
              <!-- Happening—<br> -->
              2021<br><br>
              <div class="coordinates">46°12′N 006°08′E</div>
            </div>
          </div>
          <div class="col-md-offset-1 col-md-4">
            <div class="temp">
              3°
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="documentation">
      <div class="container">
        <section class="row">
          <div class="col-md-8">
            <!-- Getting Started -->
            <section class="section" id="GettingStarted">
              <div style="margin-top: 4rem">
                <div>
                  <!-- sect1 -->
                  <h2 class="heading"><kbd>TOPIC A:</kbd>
                  <br>
                  Improving the accessibility of vaccines
                  </h2>
                </div>
              </div>
              <div style="margin-top: 3rem">
                <div>
                  <!-- sect1 -->
                  <h2 class="heading"><kbd>TOPIC B:</kbd>
                  <br>
                  Addressing the effects of bioterrorism
                </h2>
                </div>
              </div>
            </section>

            <!-- Destroy -->
            <!-- <section class="section" id="Destroy">
              <div style="margin-top: 6rem"> -->
                <!-- sect1 -->
                <!-- <h2 class="heading">Destroy</h2>
                <div class="text-editor">
                  <code>
                    &lt;script&gt;
                      <br>&nbsp;&nbsp;<span class="comment">// Start Rellax</span>
                      <br>&nbsp;&nbsp;<span class="purple">var</span> rellax = <span class="green">new</span> <span class="white">Rellax</span>('.rellax');
                      <br />
                      <br>&nbsp;&nbsp;<span class="comment">// End Rellax and reset parallax elements to their original positions</span>
                        <br>&nbsp;&nbsp;rellax<span class="orange">.refresh();</span>
                        <br>
                    &lt;/script&gt;
                  </code>
                </div>
              </div>
            </section> -->

          </div>
        </section>
      </div>
      <div class="copy" style="margin-top: 40px;">
        <div class="container">
          <div class="row">
            <div class="col-md-offset-1 col-md-6">
              <p>
                The World Health Assembly (WHA) is the main governing body of the World Health Organisation (WHO), comprising of 194 member states. Focus on policy-setting, the WHA seeks to continue with the planning and attainment of new health goals, while formulating strategies to achieve such objectives.
              </p>
              <br>
              <p>Throughout the years, the WHA has worked on various health issues and matters, such as communicable & non-communicable diseases, food security and bioterrorism. In addition, it concerns itself with the accessibility of vaccines for deadly diseases, such as Malaria, smallpox and Polio.</p>
              <br>
              <p>As the question of vaccines have come to light in these trying times, it is undoubted that such is at the minds of the representatives at the WHA. In addition, one cannot forget the concerns over bioterrorism, for awareness has overpowered ignorance.</p>
              <br>
              <br>
              <p>
                <strong>Chair:</strong> Pumudika Hasani Amarasekara<br>
                <strong>Co-Chair:</strong> Amalia Fitry Baruna<br>
                <strong>Rapporteur:</strong> Theo Farrell
              </p>
              <div class="col-md-offset-3 col-md-1" style="margin-left: 800px;">
                <div class="md-green rellax" data-rellax-speed="1" data-rellax-xs-speed="1" data-rellax-mobile-speed="2"
                  data-rellax-tablet-speed="2" style="transform: rotate(45deg);">
                </div>
              </div>
              <div class="xs-green rellax" data-rellax-speed="5" data-rellax-xs-speed="3" data-rellax-mobile-speed="4"
                data-rellax-tablet-speed="5" style="transform: rotate(45deg);">
              </div>
              <div class="col-md-1">
                <div class="lg-purple rellax" data-rellax-speed="3" data-rellax-xs-speed="2" data-rellax-mobile-speed="2"
                  data-rellax-tablet-speed="3" style="transform: rotate(45deg);">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>


  <!-- javascript -->
  <script src="{{ url_for('static', filename='js/rellax.min.js') }}"></script>
  <script src="{{ url_for('static', filename='js/option.js') }}"></script>
  <script>
    var rellax = new Rellax('.rellax', {
      // center: true
      callback: function (position) {
        // callback every position change
        console.log(position);
      },
      breakpoints: [576, 768, 1024]
    });
  </script>



</body>

</html>